<h1>Edit Page</h1>
<%= form_with model: @post, local: true do |f| %>
 <%= f.text_field :title, placeholder: "タイトル" %>
 <%= f.text_area :content, placeholder: "ここに本文" %>
 <%= f.submit "変更する" %>
<% end %>
