<p>こんにちは <%= @resource.email %>さん</p>

<p>パスワードの変更のリクエストが行われました。こちらのリンクから変更を行ってください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードの変更リクエストを行っていない場合は、こちらのメールは破棄してください。</p>
