<p>こんにちは <%= @resource.email %>さん</p>

<p>複数回アカウントのログインに失敗したため、アカウントがロックされました。</p>

<p>アカウントのロック解除はこちらのリンクをクリックしてください:</p>

<p><%= link_to 'アンロックする', unlock_url(@resource, unlock_token: @token) %></p>
